<h2> Invent Guac Ingredient </h2>
<%= form_for [@recipe, @ingredient] do |f| %>
  <%= f.label :detail %> <!-- should match text_field -->
  <%= f.text_field :detail %>
  <%= f.submit "Create" %>
<% end %>
